/* Polygon 2 */

polygon{

    position: absolute;
    width: 225.48px;
    height: 527.52px;
    left: 265.08px;
    top: -146px;
    
    background: linear-gradient(0deg, #B9874B, #B9874B), linear-gradient(0deg, #B9874B, #B9874B), #B9874B;
    transform: rotate(69.18deg);}
    /* LEFT COLUMN */
.left-column{
    grid-area: left-column;
    background-color: #f3dd94;
    color:rgb(14, 12, 12);
    width: 300rem;
    float: leftcenter;
  }
  
 
  
  
    /* RIGHT COLUMN */
  .right-column{
    margin: 2rem 4rem 4rem;
    padding: 2rem;
      grid-area: right-column;
      display: grid;
      grid-template-rows: 1;
      width: 300rem;
      float: right;
      background-color: aliceblue;
    }
  
    
    h1{
      
        margin: 1rem 2rem 1rem;
        font-size: 10rem;
        margin-bottom: .5rem;
        justify-content: center;
      }
      
      h2{
        margin: 0 0 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(29, 139, 235);
      }
      .Photo{
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
        position: absolute;
        width: 200.55px;
        height: 200.35px;
        left: -20px;
        top: -6.43px;
      
      }
      h1{
        display: inline-grid;
        justify-content: center;
      
      }
      
      
      
      }
      .right-column{
      
        position: inherit;
        height: 100%;
        border-radius: 1%; 
        width: 80rem;
        float: left;
        background-color: rgb(88, 50, 2);
        margin: 1rem 2rem 1rem;
        font-size: 2rem;
        margin-bottom: .10rem;
        justify-content: center;
      
      
      }
      .Photo{
        border-radius: 50%;
        width: 30rem;
        height: 30rem;
      }#cv-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "left-column  right-column";
        width: 12rem;
        margin: 100px auto;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }
      h1{
        text-align: center;
        font-family: 'Arial Narrow', Arial, sans-serif;
      }
      .Photo{
        border-radius: 50%;
        width: 20rem;
        height: 60rem;
        float: left;
      }
      .left-column{
        position: relative;
        height: 100%;
        border: start start radius 10px; ;
        float: right;
        width: 20rem;
        background-color: bisque;
        margin: 1rem 2rem 1rem;
        font-size: 2rem;
        border-radius: 1%;
      }
      
      